@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    a {
        @apply font-medium text-primary no-underline hover:text-primary-hover;
    }

    *, *::before, *::after {
        @apply m-0 p-0 box-border;
    }

    body {
        @apply m-0 p-0 text-[16px] font-sans box-border text-light-bg bg-dark-bg overflow-hidden;
    }

    h1 {
        @apply text-6xl leading-tight;
    }

    button {
        @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium bg-dark-bg text-white cursor-pointer transition duration-200;
    }

    button:hover {
        @apply border-primary;
    }

    button:focus,
    button:focus-visible {
        @apply outline-none ring-4 ring-webkit-focus-ring-color;
    }

    .card {
        @apply p-8 bg-white shadow rounded;
    }

    @media (prefers-color-scheme: light) {
        button {
            @apply bg-light-bg;
        }
    }
}
